.box{
    height: 70px;
    background-color: rgb(179, 125, 230);
}
.box-card{
    height: 70px;
    background-color: rgb(179, 125, 230);
}
 .besh{
    height: 70px;
    background-color: rgb(179, 125, 230);
} 
.card-box{
    height: 70px;
    background-color: rgb(179, 125, 230);
}
.card-text{
    height: 70px;
    background-color: rgb(179, 125, 230);
}