.col1{
    height:100px;

    background-color: blue;
    color: blue;
}
.col2{
    height: 100px;
    background-color: rgb(255, 94, 0);
    color:rgb(255, 94, 0) ;
}
.col3{
    height: 300px;
    background-color: blue;
    color: blue;
}
.coll{
    height: 100px;
    background-color: blue;
    color: blue;
    margin-bottom: 100px;
}
.coll1{
    height: 200px;
    background-color:blue;
    color: blue;
    margin-bottom: 100px;
} 
.coll2{
    height: 100px;
    background-color:blue;
    color: blue;
}
.coll3{
    height: 100px;
    background-color:red;
    color: blue;
}
 .coll4{
    height: 100px;
    background-color:blue;
    color: blue;
}  
